<section class="section__container daftar_container">
    <div class="input_grup">
        <input type="text" name="kode" value="" required />
        <label for="kode">Nomor Induk Kependudukan*</label>
    </div>
    <div class="input_grup">
        <input type="text" name="kode" value="" required />
        <label for="kode">Nama Lengkap*</label>
    </div>
    <div class="input_grup">
        <input type="text" name="kode" value="" required />
        <label for="kode">Nomor Telepon*</label>
    </div>
    <div class="input_grup">
        <input type="text" name="kode" value="" required />
        <label for="kode">Alamat*</label>
    </div>
    <div class="input_grup">
        <input type="text" name="kode" value="" required />
        <label for="kode">Email*</label>
    </div>
    <div class="input_grup">
        <input type="text" name="kode" value="" required />
        <label for="kode">Password*</label>
    </div>
    <div class="input_grup">
        <input type="text" name="kode" value="" required />
        <label for="kode">Konfirmasi Password*</label>
    </div>
    <div class="button_kanan">
        <a class="btn" href="">Daftar</a>
    </div>
</section>
