<section class="section__container masuk_container">
    <form>
        <div class="input_grup">
            <input type="text" name="kode" value="" required />
            <label for="kode">Email*</label>
        </div>
        <div class="input_grup">
            <input type="text" name="kode" value="" required />
            <label for="kode">Password*</label>
        </div>
        <div class="button_kanan">
            <a class="btn" href="index.html">Masuk</a>
        </div>
    </form>
</section>