<!--======================================================= NAVBAR =======================================================-->
<nav>
    <div class="nav__header">
        <div class="nav__logo">
            <a href="" class="logo">
                <img src="assets/logo-white.png" alt="logo" class="logo-white" />
                <img src="assets/logo-dark.png" alt="logo" class="logo-dark" />
                <span>HoppCar</span>
            </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
        </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <li><a href="">Beranda</a></li>
        <li><a href="">Dashboard Pemilik</a></li>
        <li><a href="">Daftar</a></li>
        <li><a href="">Masuk</a></li>
    </ul>
    <div class="nav__btns">
        <a class="px-3" href="">Masuk</a>
        <a class="btn" href="">Daftar</a>
    </div>
</nav>
<!--======================================================= AKHIR NAVBAR =======================================================-->