@using SIRentalMobil.Domain.Entities
@using SIRentalMobil.Web.Authentication
@inject ISignInManager SignInManager

@{
    var user = await SignInManager.GetUser();
}

<!--======================================================= NAVBAR ====================================================-->
<nav>
    <div class="nav__header">
        <div class="nav__logo">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                <img src="~/assets/logo-dark.png" alt="logo" class="logo-dark" />
                <span>HoppCar</span>
            </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
        </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Beranda</a></li>
        @if(user is not null)
        {
            if(user.Role == UserRoles.Pemilik)
            {
                <li><a asp-area="" asp-controller="Pemilik" asp-action="Index">Dashboard @UserRoles.Pemilik</a></li>
            }
            else
            {
                <li><a asp-area="" asp-controller="Penyewa" asp-action="Index">Dashboard @UserRoles.Penyewa</a></li>
            }
        }
    </ul>
    @if (user is null)
    {
        <div class="nav__btns">
            <a asp-area="" asp-controller="Home" asp-action="Login" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" class="px-3">Masuk</a>
            <a asp-area="" asp-controller="Home" asp-action="Daftar" class="btn">Daftar</a>
        </div>
    } 
    else
    {
        <div class="nav__btns">
            <form asp-action="Logout" asp-controller="Home" asp-area="">
                <button class="btn">Logout</button>
            </form>
        </div>
    }
</nav>
<!--======================================================= AKHIR NAVBAR =============================================-->